{% extends 'brain/base.html' %}
{% block content %}
{% load static %}


      <div class="container">
        <section id="intro" class="intro image-background" style="background-image: url('{% static "img/hero_img_2.jpg"%}')">
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row page-top">
            <div class="col-sm-6 col-sm-offset-3">
              <br>
              <br>
              <h1>Our Hats</h1>
              <p class="text-muted">Hand cut and stitched in the United States.  Never mass produced, our hats are made of the finest fabrics and crafted especially for your head.  </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <br><br><br><br><br><br><br>


          <!-- /products-->

          <div class="row products">
                <!-- product-->
                <div class="col-md-3 col-sm-6">
                  <div class="product">
                    <div class="image"><img src="{% static 'img/hat1.png' %}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="text">
                      <p class="brand"><a href="../hat/1">Baseball Cap</a></p>
                      <p class="price">$40</p>
                    </div>
                  </div>
                </div>
                <!-- /product-->
                <!-- product-->
                <div class="col-md-3 col-sm-6">
                  <div class="product">
                    <div class="image"><img src="{% static 'img/hat2.png' %}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="text">
                      <p class="brand"><a href="../hat/2">Trucker Hat</a></p>
                      <p class="price">$40</p>
                    </div>
                  </div>
                </div>
                <!-- /product-->
                <!-- product-->
                <div class="col-md-3 col-sm-6">
                  <div class="product">
                    <div class="image"><img src="{% static 'img/hat3.png' %}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="text">
                      <p class="brand"><a href="../hat/3">Army Cap</a></p>
                      <p class="price">$40</p>
                    </div>
                  </div>
                </div>
                <!-- /product-->
                <!-- product-->
                <div class="col-md-3 col-sm-6">
                  <div class="product">
                    <div class="image"><img src="{% static 'img/hat4.png' %}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="text">
                      <p class="brand"><a href="../hat/4">Five Panel Hat</a></p>
                      <p class="price">$40</p>
                    </div>
                  </div>
                  <br><br><br><br><br><br><br>
                </div>

                <!-- /product-->
      <!-- quick view modal box-->
      <!-- quick view modal box-->

<div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
              <div class="row quick-view product-main">
                <div class="col-sm-6">
                  <div class="quick-view-main-image"><img src="img/detailbig1.jpg" alt="" class="img-responsive"></div>
                  <div class="ribbon ribbon-quick-view sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="ribbon ribbon-quick-view new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="row thumbs">
                    <div class="col-xs-4"><a href="img/detailbig1.jpg" class="thumb"><img src="img/detailsmall1.jpg" alt="" class="img-responsive"></a></div>
                    <div class="col-xs-4"><a href="img/detailbig2.jpg" class="thumb"><img src="img/detailsmall2.jpg" alt="" class="img-responsive"></a></div>
                    <div class="col-xs-4"><a href="img/detailbig3.jpg" class="thumb"><img src="img/detailsmall3.jpg" alt="" class="img-responsive"></a></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <h2 class="product__heading">Burton Jacky Shirt</h2>
                  <p class="text-muted text-small text-center">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut...</p>
                  <div class="box">
                    <form>
                      <p class="price">$124.00</p>
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                          <div class="form-group">
                            <label for="modal_size">Choose your size</label>
                            <select id="modal_size" class="form-control">
                              <option>Small</option>
                              <option>Medium</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="modal_quantity">Quantity</label>
                            <input type="number" value="1" id="modal_quantity" class="form-control">
                          </div>
                        </div>
                      </div>
                      <p class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
                        <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default"><i class="fa fa-heart-o"></i></button>
                      </p>
                    </form>
                  </div>
                  <!-- /.box-->
                  <div class="quick-view-social">
                    <h4>Show it to your friends</h4>
                    <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-dialog-->
      </div>
      <!-- /.modal-->
      <!-- /quick view modal box-->
    </div>
  </div>
  </div>
  </section>
  </div>


{% endblock %}
